[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eth-ape = "*"
ape-etherscan = "*"
ape-alchemy = "*"
pycoingecko = "*"
requests = "*"
pandas = "*"
black = "==23.3.0"

[dev-packages]

[requires]
python_version = "3.10"
